{% extends 'root.html' %}
{% load static %}

{% block title%}
    Welcome 
{% endblock %}


{% block contents %}

<div class="d-flex first" >
    


        <div class="p-4  col1"> 
            <div class="text-center"><h1 class="text-center con1">WELCOME TO MY DIGITAL SPACE </h1> </div>
            <h2 class="ps-2 text-center fs-2 mt-4 con2"> Passionate Web Developer and a Dedicated Cricketer. </h2>
             <div class="con3 bg-primary"> 
                <h4 class="text-center">B.E Degree Holder in Computer Science and Engineering</h4> 
                <h4 class="text-center ">With hands-on experience in web development,</h4> 
                <h4 class="text-center ">My expertise includes working with technologies like HTML, CSS, JavaScript, Python, SQL, and Django<h4> 

                </div>
        

        </div>

        <div class="mb-4 p-4 second col2">
            <div class="p-2 text-center"><img src="" alt="" height="200px" width="200px"></div>
            <div class="p-2 text-center">Flex item 2</div>
            <div class="p-2 text-center">Flex item 3</div>
          </div>
        
        
   
</div>





{% endblock %}




